{% extends 'main.html' %}

{% block body_content %}

{% for player in all_players %}
{{ player.name }}
<br>
KDA: {{ player.kills }}/{{ player.deaths }}/{{ player.assists }}
<br>
Damage Per Minute: {{ player.dpm }}
<br>
Gold differnce at 10: {{ player.gd10 }}
<br>
<form action='{{ url_for('deleteplayer', playerid= player.id) }}'>
	<button>delete</button>
</form>
<form action='{{ url_for('updateplayer', playerid= player.id) }}'>
        <button>update</button>
</form>
{% endfor %}
{% endblock body_content %}
