{% extends 'main.html' %}

{% block body_content %}

{% for team in all_teams %}
{{ team.name }}
<br>
Player:
<br>
{% for pick in all_picks %}

{% for player in all_players %}

{% if pick.player_id == player.id and pick.team_id == team.id %}
{{ player.name }}
<br>
{% endif %}
{% endfor %}
{% endfor %}

<br>
<form action='{{ url_for('deleteteam', teamid= team.id) }}'>
	<button>delete</button>
</form>
<form action='{{ url_for('updateteam', teamid= team.id) }}'>
        <button>update</button>
</form>
{% endfor %}
{% endblock body_content %}
